<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student confirmation</title>
    <link th:href="@{/css/demo.css}" rel="stylesheet" />
</head>

<body>
<h3>Student confirmation</h3>

    The student is confirmed: <span th:text="${student.firstName}+' '+${student.lastName}" class="funny"></span>
<br><br>
    Country: <span th:text="${student.country}" class="funnier"></span>
<br><br>
Favorite Programming Language: <span th:text="${student.favoriteLanguage}" class="funnier"></span>
</body>
</html>